<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bizis.Site.Common.Properties.Settings.SiteCommonConnectionString"
            connectionString="Data Source=(local)\NETSDK;Initial Catalog=CarSite;Integrated Security=True" />
    </connectionStrings>
</configuration>