<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CarSiteEntities" connectionString="metadata=res://*/Model.CarSite.csdl|res://*/Model.CarSite.ssdl|res://*/Model.CarSite.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\NETSDK;initial catalog=CarSite;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Bizis.Site.Car.Common.Properties.Settings.SiteCarConnectionString"
      connectionString="Data Source=(local)\NETSDK;Initial Catalog=CarSite;Integrated Security=True"
      providerName="" />
  </connectionStrings>
</configuration>