@model Bizis.Site.Car.Models.VmVehicleKm

<div>
    <div class="left">
        <span class="filter_lable">Mileage</span> from
        <br />
        @Html.DropDownList(Model.From.Name, Model.Froms)
    </div>
    <div class="left">
        <span class="filter_lable">Mileage</span> to
        <br />
        @Html.DropDownList(Model.To.Name, Model.Tos)
    </div>
    <div class="clear"></div>
</div>